:root {
  --c0: #ffffff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #e7e5e5;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111111;
  --c12: #b1a9a9;
  --c13: #38445c;
  --c14: #173f8a;
  --c15: #224063;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #56d4d8;
  background-image: url(https://asset.gecdesigns.com/img/backgrounds/blue-bubble-abstract-gradient-background-template-1638174595137-icon.webp);
  background-size: 100%;
}

.container {
  margin: 10px;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--c15);
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 15px;

  text-align: center;
  background-color: rgba(141, 145, 144, 0.3);
  width: 450px;
  border: 4px #000000 solid;
  height: 200px;
  justify-content: center;
  justify-items: center;
}

.wrapper-number {
  grid-row: 2;
  background-color: rgba(141, 145, 144, 0.5);
  height: fit-content;
  border: 2px #000000 solid;
  width: fit-content;
}

.bg:hover,
.bg:focus-within {
  transition: .5s ease-in-out;
  border: 4px #772fb3 solid;
}

.insira, .insira2 {
  
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  grid-column: 1;
  margin-top: 30px;
}

.insira2 {
  grid-column: 2;
}

/* botão */
.button {
  color: #000;
  border-radius: 10px;

  width: 5em;
  height: 2.5em;
  font-size: 1.7rem;
  background: #b6dbe9;
  cursor: pointer;
  margin-top: 2em;
  padding: 12px;
  text-align: center;
}

.buttons {
  padding: 0;
  margin: 0;
  top: 0;
  width: 450px;

  display: flex;
  justify-content: space-between;
}

.button:hover {
  background: #baaff3;
}

.result h2 {
  font-size: 2rem;
  width: max-content;
  display: inline-block;
}

.resultado-final {
  border: 3px solid;
  border-radius: 4px;
  margin: 15px;
  width: 2rem max-content;
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputs,
.buttons2 {
  width: 4rem;
  min-width: 3rem;
  max-width: max-content;
  height: 2rem;
  font-size: 1.3rem;
  border: transparent;
  text-align: center;

  background-color: transparent;
  outline: none;
  padding: 0px;
  margin: 0px;

  grid-row: 2;

  
}

.inputs:focus-within{
  background-color: #aed6e2;
}
.buttons2:hover, .inputs:focus-within, .inputs:hover {
  
  transition: .3s ease-in-out;
  background-color: #aed6e2;
  cursor: pointer;
}

.result {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 0px;
  margin: 0px;
}

.result h1 {
  margin-top: 15px;
  margin-bottom: 0px;
}

.instructions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.1rem;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  height: 50vh auto;
  font-weight: bold;
  border: 3px solid;
  border-radius: 4px;
  padding: 15px;
}

.instructions h3 {
  font-size: 1.4rem;
  text-align: center;
}
